# Pandas

In [2]:
import numpy as np
import pandas as pd

# Series

Series(data=lista, index=indices, dtype=tipo): 

Devuelve un objeto de tipo Series con los datos de la lista lista, las filas especificados en la lista indices y el tipo de datos indicado en tipo.

si no se marcan los indices devuelve por defecto un indice de 0 a n elementos

In [11]:
lista=[2,3,4,5,6,7,8,9]
lista_2=["manuel","Jorge","felipe","Sara","Jenifer"]
print(pd.Series(lista))

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int64

In [12]:
serie_1=pd.Series(lista_2)
print(serie_1)

0     manuel
1      Jorge
2     felipe
3       Sara
4    Jenifer
dtype: object

In [18]:
serie_1[3]

'Sara'

In [20]:
lista_3=[2,3,5.1846,True,"Hola"]
serie_2=serie_1=pd.Series(lista_3)
serie_2

0         2
1         3
2    5.1846
3      True
4      Hola
dtype: object

In [32]:
s = pd.Series({
    'Matemáticas': [6.0,2.0],  
    'Economía': [4.5,5.0], 
    'Programación': [8.5,9.0]}, name="Notas")
print(s)

Matemáticas     [6.0, 2.0]
Economía        [4.5, 5.0]
Programación    [8.5, 9.0]
Name: Notas, dtype: object

### Operaciones con Series

es importante tener en cuenta los tamaños de las series

In [23]:
serie_3 = pd.Series(data = [1,2,3,4])
serie_4 = pd.Series(data = [100,200,300,400])

In [25]:
serie_3+serie_4

0    101
1    202
2    303
3    404
dtype: int64

In [29]:
resultado=serie_3**serie_3
resultado

0      1
1      4
2     27
3    256
dtype: int64

In [33]:
#saldra un NaN si no se puede realizar alguna operacion
ahre=pd.Series([1,2,3])
resultado-ahre

0     0.0
1     2.0
2    24.0
3     NaN
dtype: float64

In [6]:
ser=pd.Series(lista)
print(ser.sum())
print(ser.count())
print(ser.describe())

44
8
count    8.00000
mean     5.50000
std      2.44949
min      2.00000
25%      3.75000
50%      5.50000
75%      7.25000
max      9.00000
dtype: float64

In [10]:
#tambien es posible fliltrar los valores de las series.
filtro=ser[ser<=5]
filtro

0    2
1    3
2    4
3    5
dtype: int64

In [15]:
print(serie_1)
serie_1.sort_values()
#ascending=False

0     manuel
1      Jorge
2     felipe
3       Sara
4    Jenifer
dtype: object

4    Jenifer
1      Jorge
3       Sara
2     felipe
0     manuel
dtype: object

# Ejercicio

Cree una serie a partir de un diccionario y de una lista.

cree una serie a partir de una lista de numeros random y elimine de esta todos los valores inferiores a 3 y mayores a 7, guarde en otra serie el resultado. 

encuentre la media, la desviasion estandar asi como los valores maximos y minimos de una serie obtenida de una lista de numeros random.

# DataFrame

In [16]:
diccionario_dataf={
    'Matemáticas': [6.0,2.0],  
    'Economía': [4.5,5.0], 
    'Programación': [8.5,9.0]}

pd.DataFrame(diccionario_dataf)

   Matemáticas  Economía  Programación
0          6.0       4.5           8.5
1          2.0       5.0           9.0

In [68]:
dataexel=pd.read_csv(r"C:\Users\ACER\Documents\Proyectos Visual Studio\Ciencia de Datos\Contenido Sincronico\datasets\diabetes2.csv")
dataexel

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
dataexel[0:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
dataexel["Pregnancies"][10:14]

10     4
11    10
12    10
13     1
Name: Pregnancies, dtype: int64

In [14]:
print(dataexel["BloodPressure"].max())
print(dataexel["Insulin"].min())
print(dataexel["Age"].std())

122
0
11.760231540678685

In [15]:
dataexel.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [59]:
auxiliar=["hahahahaha","ajajajajaja","kakakakaka","'risas incontrolables'"]+list(range(0,764))
dataexel["algo que evidentemente no deberia estar aqui"]=auxiliar
dataexel

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,algo que evidentemente no deberia estar aqui
0,6,148,72,35,0,33.6,0.627,50,1,hahahahaha
1,1,85,66,29,0,26.6,0.351,31,0,ajajajajaja
2,8,183,64,0,0,23.3,0.672,32,1,kakakakaka
3,1,89,66,23,94,28.1,0.167,21,0,'risas incontrolables'
4,0,137,40,35,168,43.1,2.288,33,1,0
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,759
764,2,122,70,27,0,36.8,0.340,27,0,760
765,5,121,72,23,112,26.2,0.245,30,0,761
766,1,126,60,0,0,30.1,0.349,47,1,762
767,1,93,70,31,0,30.4,0.315,23,0,763

In [63]:
dataexel.pop("algo que evidentemente no deberia estar aqui")

dataexel

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [48]:
dataexel.sort_values(by=["Age"],ascending=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
255,1,113,64,35,0,33.6,0.543,21,1
60,2,84,0,0,0,0.0,0.304,21,0
102,0,125,96,0,0,22.5,0.262,21,0
182,1,0,74,20,23,27.7,0.299,21,0
623,0,94,70,27,115,43.5,0.347,21,0
...,...,...,...,...,...,...,...,...,...
123,5,132,80,0,0,26.8,0.186,69,0
684,5,136,82,0,0,0.0,0.640,69,0
666,4,145,82,18,0,32.5,0.235,70,1
453,2,119,0,0,0,19.6,0.832,72,0
459,9,134,74,33,60,25.9,0.460,81,0

In [51]:
dataexel.dtypes

Pregnancies                                       int64
Glucose                                           int64
BloodPressure                                     int64
SkinThickness                                     int64
Insulin                                           int64
BMI                                             float64
DiabetesPedigreeFunction                        float64
Age                                               int64
Outcome                                           int64
algo que evidentemente no deberia estar aqui     object
dtype: object

In [52]:
dataexel.count()

Pregnancies                                     768
Glucose                                         768
BloodPressure                                   768
SkinThickness                                   768
Insulin                                         768
BMI                                             768
DiabetesPedigreeFunction                        768
Age                                             768
Outcome                                         768
algo que evidentemente no deberia estar aqui    768
dtype: int64

In [65]:
dataexel.rename(columns={"Pregnancies":"Embarazos"},inplace=True)
dataexel

,Embarazos,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [75]:
df=dataexel[(dataexel["Outcome"]==1)&(dataexel["Age"]<=25)&((dataexel["Pregnancies"]==0))]
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
45,0,180,66,39,0,42.0,1.893,25,1
109,0,95,85,25,36,37.4,0.247,24,1
120,0,162,76,56,100,53.2,0.759,25,1
124,0,113,76,0,0,33.3,0.278,23,1
213,0,140,65,26,130,42.6,0.431,24,1
220,0,177,60,29,478,34.6,1.072,21,1
237,0,179,90,27,0,44.1,0.686,23,1
266,0,138,0,0,0,36.3,0.933,25,1
291,0,107,62,30,74,36.6,0.757,25,1
308,0,128,68,19,180,30.5,1.391,25,1
397,0,131,66,40,0,34.3,0.196,22,1
414,0,138,60,35,167,34.6,0.534,21,1
445,0,180,78,63,14,59.4,2.420,25,1
448,0,104,64,37,64,33.6,0.510,22,1
485,0,135,68,42,250,42.3,0.365,24,1
580,0,151,90,46,0,42.1,0.371,21,1
595,0,188,82,14,185,32.0,0.682,22,1
619,0,119,0,0,0,32.4,0.141,24,1
647,0,179,50,36,159,37.8,0.455,22,1

In [76]:
dataexel.iloc[1:5,3:5]

   SkinThickness  Insulin
1             29        0
2              0        0
3             23       94
4             35      168

# Ejercicio

Haga un documento txt y abralo con pandas